.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  height: 50px;
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  transition: 0.4s ease;
  position: relative;
  text-transform: uppercase;
  color: $black;
  span {
    font-size: 20px;
  }
}
.btn-icon {
  max-width: 50px;
  width: 100%;
  &:hover {
    background-color: $primary;
  }
}

.btn-with-icon {
  display: flex;
  gap: 12px;
  max-width: 130px;
  width: 100%;

  &:hover {
    background-color: $primary;
    color: $white;

    svg path {
      fill: $white !important;
    }
  }
}


.btn-primary {
  span {
    color: white;
    font-weight: 400;
  }
}