.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px 0px;
    cursor: pointer;
    border-bottom: 1px solid $light-gray;

    &:focus-visible {
      outline: none;
      box-shadow: none;
    }
    &:first-child {
      border-top: 1px solid $light-gray;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    span {
      font-size: 24px;
      line-height: 24px;
      font-weight: 400;
      color: $black;
      transition: 0.3s ease;
    }
    p {
        font-size: 16px;
        line-height: 32px;
        font-weight: 500;
        color: #787878;
    }
  }
  &__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    text-align: left;
    &:focus,
    &:focus-visible {
      background: none;
      box-shadow: none;
    }
    .faq__right {
      display: flex;
      align-items: center;
    }
    .faq__icon {
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .faq__icon-static {
    margin-right: 15px;
  }
  &__content {
    width: 100%;
    opacity: 0;
    z-index: -1;
    height: 0;
    transition: 0.1s ease;
    a {
      border-bottom: 1px solid black;
      &:hover {
        border-color: #00000000;
      }
    }
  }
  &__item.active {
    .faq__head {
      span {
        color: $primary;
      }
    }

    .faq__content {
      opacity: 1;
      z-index: 10;
      height: auto;
      transition: 0.3s ease;
      padding: 32px 0;
    }

    .faq__icon {
      svg {
        transform: rotate(270deg);
      }

      path {
        stroke: $primary;
      }
    }
  }
}

// @media (max-width: 1024px) {
//   .faq {
//     &__container {
//       padding: 60px 22px 58px 22px;
//     }
//     &__head {
//       h2 {
//         font-size: 32px;
//         line-height: 100%;
//       }
//     }
//     &__list {
//       margin-top: 30px;
//     }
//   }
// }

// @media (max-width: 768px) {
//   .faq {
//     padding: 40px 44px;
//     &__container {
//       padding: 60px 40px;
//     }
//     h2 {
//       font-size: 48px;
//       line-height: 48px;
//       text-align: center;
//     }

//     &__list {
//       margin-top: 60px;
//     }
//   }
// }

// @media (max-width: 465px) {
//   .faq {
//     padding: 40px 18px;
//     &__container {
//       border-radius: 32px;
//       padding: 40px 18px;
//     }
//     h2 {
//       font-size: 1.75rem;
//       line-height: 28px;
//       text-align: center;
//       max-width: 270px;
//       margin: 0 auto;
//       text-align: center;
//     }

//     &__list {
//       margin-top: 30px;
//     }
//     .faq__item {
//       span {
//         font-size: 18px;
//       }
//     }
//   }
// }

@media (max-width: 768px) {
  .faq {
    padding: 0px 0px 30px 0px;
  }
}
