.places {
  padding-top: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
  border-radius: 16px 16px 0 0;
  position: absolute; 
  top: 39%; 
  left: 50%; 
  transform: translateX(-50%); 
  max-width: 468px; 
  height: auto;

  &__wrapper {

  }

  &__container {
    position: relative;
  }

  &__content {
    padding-left: 20px;
    display: block;
    width: 100%;
    height: auto;
  }

  &__heading {
    margin-bottom: 10px;

    h2 {
      font-weight: 600;
      font-size: 20px;
      line-height: 1.2;
      color: #0e121a;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.2;
      color: #585858;

      span {
        color: #0e121a;
        font-weight: 600;
      }
    }
  }

  &__info {
    display: flex;
    gap: 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: #0e121a;

    li::marker {
      color: #585858;
    }
  }

  &__slider {
    position: relative;
    padding-bottom: 20px;
  }

  &__slider-wrapper {
    // просто обгортка слайдів
  }

  &__slide {
    cursor: pointer;
    outline: none;

    &.active {
      padding-bottom: 120px;

      .places__image {
        border: 4px solid #2a55fa;
        border-radius: 8px;
        transition: 0.4s;
      }

      .places__caption {
        color: #0e121a;
      }
    }
  }

  &__image {
    max-width: 100px;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border: 4px solid #d7cfcf;
    border-radius: 8px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  &__caption {
    font-size: 16px;
    color: #585858;
  }

  &__button {
    display: none;

    &.active {
      display: block;
    }
  }
}
