.points {
  display: flex;
}
.point__item {
  display: none;
  padding: 20px;
  background: #fff;
  gap: 20px;
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0px 0px 25px 0px #00000026;

  &--full-height {
    position: absolute;
    height: 100vh !important;
    padding-top: 90px;
    top: 0;
  }
}
.point__heading {
    margin-bottom: 20px;
}
.point__item.active {
  display: block;
  height: 382px;
}
.point__button {
  margin-bottom: 20px !important;
}

@media (max-width: 768px) {
  .point__item {
    min-width: 100%;
    width: 100%;
  }
}
