.popup {
  position: fixed;
  background: white;
  z-index: 1000;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  opacity: 0;

  &--small {
  }
  
  &--bottom {
    height: 500px;
    box-shadow: 0px 0px 25px 0px #00000059;
    border-radius: 16px 16px 0 0;
    padding: 20px 20px 30px 20px;
    left: 50% !important;
    bottom: -40%;
    transform: translateX(-50%) translateY(100%) !important;
    max-width: 465px;
    width: 100%;
    opacity: 0;

    &.active {
      transform: translateX(-50%) translateY(0%) !important ;
      opacity: 1;
    }
  }

  &--left {
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    transform: translateX(-100%);
    &.active {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}
